body {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.background-image {
  background-image: url('https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1500px;
}
